:root{
    /*Establecemos variables generales*/
    --color0: rgb(87, 128, 136);         
    --color1: rgb(116, 148, 140); 
    --color2: rgb(207, 181, 128); 
    --color3: rgb(134, 78, 62);     
    --color4: rgb(202, 124, 76);  
    --radius: 18px;
    --shadow: 0 10px 30px rgba(46, 3, 62, 0.295);

}

#root {
  
  padding: 0;
  margin: 0;
  text-align: center;
}
/*----------------------------Elementos de body----------------------------*/
body{margin: 0;}

.container {
    display: grid;
    min-height: 100vh;
    margin: 0px;
    grid-template-rows: 100px 1fr 200px;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}
.container header {
    grid-area: "header";
    background: var(--color0);  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    
    
}
.container main  {
    min-width: 600px;    
    grid-area: "main";    
    padding: 20px;
    background: var(--color1);
    justify-content:center;
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 1;
       
}
.container main section {    
    width: 800px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 30px;        
   
}
.container footer {
    grid-area: "footer";
    padding: 4px;
    background: var(--color0);
}
/*----------------------------Elementos de main----------------------------*/
/*Cards*/
.card {
    border: 3px solid var(--color3);
    /*background:linear-gradient(160deg,var(--color2),var(--color4) 90%);*/
    background:var(--color4);
    border-radius: 20%;
    display: flex;
    flex-direction: column;    
    justify-items: center;
    
    
    padding-top: 30px;
    text-align:center;
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.6);
}
.card.s4 {grid-column: span 4;}
.card.s8 {grid-column: span 8;min-height: 300px;}
.card.s12 {grid-column: span 12; min-height: 400px;}

/*Calendar*/
.CalendarGrid{
    display: grid;
    padding: 10px 40px 40px 40px ;
    width: auto;
    aspect-ratio: 7/4;
    grid-template-columns: repeat(7, 1fr);
    gap:10px;
    
    
    
}
.calendarButton{
    background:var(--color2); 
    border: 3px solid var(--color3);
    border-radius: 18px;
    aspect-ratio: 1/1;
    position: relative;
    padding: 0%;

}
.calendarButton:hover{
    scale: 1.5;
    z-index: 1;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.6);

}


/*----------------------------  ----------------------------*/



